.home-wrapper {
  width: 100vw;
  height: 100vh;
  background: midnightblue;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-title {
  color: #fff;
}

.home-button {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  padding: 1em 1.5em;
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
  transition: all 0.5s;
}
.home-button:hover {
  border: 2px solid #04c2c9;
  background: #04c2c9;
}
.home-button-icon {
  margin-left: 0.5em;
}
